//Main Colors
$main-color-1: #4eb1d1;
$main-color-2:  #93cde5;
$main-color-3:  #b7d0f9;
$main-color-4:  #73c4db;
$main-color-5:  #7bd4dc;
$main-color-6:  #2ba9c8;
$main-color-7:  #5198ab;
$main-color-8:  #5fc5ec;
$main-color-9:  #88a4c4;


